In [ ]:
# Machine Learning model to predict whether financial statements indicate a <6% Tier 1 Capital Ratio

1. See what columns are essential
    * Look at descriptions and how many files have what
3. Determine essential columns to keep and notate
4. Any files that don't have essential columns are dropped
5. Read in all files, merge to single DataFrame
6. Force essential columns to float32
    * df[c] = pd.to_numeric(df[c], errors="coerce").astype(np.float32) for c in essential_cols
    * Some models force conversion to float64, sklearn LogisticRegression does this
7. Train, Test, Split
8. Predict

FFIEC Website: https://cdr.ffiec.gov/public/ManageFacsimiles.aspx

Bulk Data: https://cdr.ffiec.gov/public/PWS/DownloadBulkData.aspx

Silent trip ups: 

- Have non-proportional amounts of what you're classifying.

- Not having enought samples

- Keeping irrelevant features or features that correlate in ways that are not helpful

ðŸ“Š Core Features to Keep

To model capital adequacy, you want the building blocks of that ratio (capital, RWA) and a few supporting measures:

Capital & Ratios

RCFA8274 â€” Tier 1 Capital (numerator)

RCFA3792 â€” Total Risk-Based Capital

RCFA5311 â€” Tier 2 Capital (useful if you want Total vs Tier 1 comparisons)

RCFAP742 / RCFAP859 â€” Common Equity Tier 1 Capital (if you want CET1 detail)

RCFA7204 â€” Tier 1 Leverage Capital Ratio (leverage constraint, useful feature)

RCFA7205 â€” Total Risk-Based Capital Ratio (parallel to Tier 1)

RCFAP793 â€” CET1 Capital Ratio (extra ratio, parallel signal)

Risk Weights & Assets

RCFAA223 â€” Risk-Weighted Assets (denominator of Tier 1 ratio)

RCFD3368 â€” Quarterly Average Total Assets (for leverage)

Buffers & Supervisory Measures

RCFAH311 â€” Capital Conservation Buffer

RCFWH312 â€” Total Applicable Capital Buffer

RCFAH313 â€” Eligible Retained Income (can matter for buffer constraints)

Optional Additions

RCFAH015 â€” Total Leverage Exposure (Basel III leverage framework)

RCFA5310 â€” ALLL includible in Tier 2 (legacy capital comp.)

RCFAH036 â€” Advanced Approaches (only for the largest banks)

ðŸ§  Simplified Minimal Set

If you want to keep it really lean for a first pass:

Target: RCFA7206 (Tier 1 Capital Ratio)

Features:

RCFA8274 (Tier 1 Capital)

RCFAA223 (Risk-Weighted Assets)

RCFA7204 (Leverage Ratio)

RCFA7205 (Total Risk-Based Ratio)

RCFAP742 (CET1 Capital)

RCFD3368 (Quarterly Avg Assets)

That gives you a compact but rich dataset (~6â€“7 fields) to start with. You can always add back detail later.

âœ… Summary:

Your target = RCFA7206 (Tier 1 Capital Ratio).

Keep a handful of capital components, ratios, and asset measures as features.

Donâ€™t stress about all the RCFA / RCOA / RCFW / RCOW duplicates â€” pick one set (consolidated) and stick with it for consistency.

In [1]:
import pandas as pd
from pathlib import Path

# 1. Function to import clean dataset | DONE
# 2. Create list of dataframes for each file
# 3. pd.concat for each in list
def clean_import(x):
        df = pd.read_csv(
            x,
            sep="\t",
            low_memory=False
        )
        # Fill NaNs with empty string
        df = df.fillna("")
        # Drop columns where both code and description are empty
        keep = ~(df.iloc[0] == "")
        df = df.loc[:, keep]
        return df

In [2]:
dfs = []
folder = Path('C:/Users/Mark/Desktop/Python/github/ml-regulatory-project/RCRI Schedules')

for path in sorted(folder.glob("*.txt")):
    try:
        df = clean_import(path)
        df["source_file"] = path.name   # track origin
        dfs.append(df)
    except Exception as e:
        print(f"Error in {path.name}: {e}")

# Combine all into one big DataFrame
panel = pd.concat(dfs, ignore_index=True)

In [4]:
panel.head()

,RCFD0010,RCFD1395,RCFD1651,RCFD1754,RCFD1773,RCFD2170,RCFD2221,RCFD3123,RCFD3128,RCFD3210,...,RCOAKX81,RCOAKX82,RCOAKX83,RCOALB58,RCOALB59,RCOALB60,RCOALB61,RCOALE74,RCOAS540,RCOANC99
0,CASH AND DUE FROM DEPOSITORIES,TIER 3 CPTL ALLOCATD FOR MARKET RISK,MARKET RISK EQUIVALENT ASSETS,HELD-TO-MATURITY SECURITIES,AVAILABLE-FOR-SALE SECURITIES,TOTAL ASSETS,UNREALIZED GAINS ON A-F-S EQUITY SEC,ALLL_AMT,ALLOCATED TRANSFER RISK RESERVES,TOTAL EQUITY CAPITAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,,,,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,,,,,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,,,,,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,,,,,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
total_bytes = panel.memory_usage(deep=True).sum()
print(f"{total_bytes / 1e6:.2f} MB")

6503.32 MB

In [19]:
keep_columns = ['RCFA7206', 'RCFA8274', 'RCFAA223', 'RCFA7204', 'RCFA7205', 'RCFAP742', 'RCFD3368']
panel_trimmed = panel.loc[:,keep_columns]

In [20]:
panel_trimmed

,RCFA7206,RCFA8274,RCFAA223,RCFA7204,RCFA7205,RCFAP742,RCFD3368
0,NaN,NaN,NaN,NaN,NaN,NaN,QTLY AVG OF TOTAL ASSETS
1,NaN,NaN,NaN,NaN,NaN,NaN,
2,NaN,NaN,NaN,NaN,NaN,NaN,
3,NaN,NaN,NaN,NaN,NaN,NaN,
4,NaN,NaN,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...
361800,,,,,,,
361801,,,,,,,
361802,,,,,,,
361803,,,,,,,
361804,,,,,,,

In [27]:
panel_clean = panel_trimmed.dropna()

In [ ]:
# no data in some of the columns, type(df.loc . . .])

In [28]:
panel_clean

,RCFA7206,RCFA8274,RCFAA223,RCFA7204,RCFA7205,RCFAP742,RCFD3368
112931,TIER 1 RISK-BASED CAPITAL RATIO,TIER 1 CPTL ALLWBL UNDR RISK-BASED,RISK-WEIGHTED ASSETS,TIER 1 LEVERAGE CAPITAL RATIO,TOTAL RISK-BASED CAPITAL RATIO,COMMON EQUITY TIER 1 CAPITAL,QTLY AVG OF TOTAL ASSETS
112932,,,,,,,
112933,,,,,,,
112934,,,,,,,
112935,,,,,,,
...,...,...,...,...,...,...,...
361800,,,,,,,
361801,,,,,,,
361802,,,,,,,
361803,,,,,,,
361804,,,,,,,

In [ ]:
# Read documentatation to keep only needed columns
# Need to carefully think about what features to select, asked chatgpt, reread and get started with minimums after understanding why they should be included
# Check size after

F1-Score - a machine learning evaluation metric that measures a classifier's accuracy by taking the harmonic mean of precision and recall. It's a particularly useful metric for evaluating models, especially with imbalanced datasets, because it balances the trade-off between high precision and high recall. A perfect F1 score is 1 (100%), while the worst score is 0.
https://www.google.com/search?client=firefox-b-1-d&q=machine+learning+f1+score

Mean Absolute Error - Average distance of all data points from fitted trend line

Validation Accuracy (For Random Forest) - How often model is correct overall. Not as useful if you don't have 50/50 split of classes (or 25/25/25/25 or whatever)